/* 
blue: #9bd2cf;
orange: #d94f40;
*/
.line {
  fill: none;
  stroke-width: 1px;
}

@font-face{
	font-family:'Proxima Nova';
	src:url("fonts/proxima-nova/bold/proximanova-bold-webfont.eot");
	src:url("fonts/proxima-nova/bold/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("fonts/proxima-nova/bold/proximanova-bold-webfont.woff") format("woff"),
		url("fonts/proxima-nova/bold/proximanova-bold-webfont.ttf") format("truetype"),
		url("fonts/proxima-nova/bold/proximanova-bold-webfont.svg#wf") format("svg");font-weight:bold;font-style:normal}

@font-face{
	font-family:'Proxima Nova';
	src:url("fonts/proxima-nova/semi-bold/proximanova-semibold-webfont.eot");
	src:url("fonts/proxima-nova/semi-bold/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"),
		url("fonts/proxima-nova/semi-bold/proximanova-semibold-webfont.woff") format("woff"),
		url("fonts/proxima-nova/semi-bold/proximanova-semibold-webfont.ttf") format("truetype"),
		url("fonts/proxima-nova/semi-bold/proximanova-semibold-webfont.svg#wf") format("svg");font-weight:400;font-style:normal}

@font-face{
	font-family:'Proxima Nova';
	src:url("fonts/proxima-nova/regular/proximanova-reg-webfont.eot");
	src:url("fonts/proxima-nova/regular/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"),
		url("fonts/proxima-nova/regular/proximanova-reg-webfont.woff") format("woff"),
		url("fonts/proxima-nova/regular/proximanova-reg-webfont.ttf") format("truetype"),
		url("fonts/proxima-nova/regular/proximanova-reg-webfont.svg#wf") format("svg");font-weight:normal;font-style:normal}

html, body {
	padding: 0;
	margin:0;
	height: 100%;
	font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;

	padding-bottom: 100px;
}

.wrapper {
	background-color: #fff;
	width: 960px;
	margin:0 auto;
}


/*
Controls
*/
#controls .tabs {
	list-style-type: none;
	padding-left: 65px;
	margin: 0;
}
#controls .tabs li {
	float: left;
	font-size: 13px;
	padding: 10px 15px 7px 15px;
	font-weight: bold;
	color: #8c8c8c;
	background-color: #ebebeb;
	margin-right: 4px;
	cursor: pointer;
	border-bottom: 3px solid #ebebeb;
}
#controls .tabs li.active {
	background-color: #d9d9d9;
	border-bottom-color: #a1a1a1;
}
#controls .selectBar {
	background-color: #f1f2f2;
	padding: 0 65px;
	border: 1px solid #e1e1e1;
	border-left: none;
	border-right: none;
}
#controls .btn-default {
	background-color: #f1f2f2;
	border: none;
	box-shadow: none;
	outline: none;
}
#controls .selectionLabels  {
	padding-left: 65px;
	font-size: 22px;
	color: #cbcbcb;
	margin-top: 40px;
	margin-bottom: 20px;
}
#controls .selectionLabels .b {
	font-weight: bold;
	color: #8b8b8b;
}
#controls .dropdown-menu {
	border-radius: 0;
}
#controls .bootstrap-select {
	outline: none;
}
#controls *:focus {
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}
/***********
Explore Viz
***********/
#exploreViz {
	padding: 0 65px;
	position: relative;
	margin-bottom: 20px;
}
#exploreViz g.lines path {
	fill: none;
	stroke: #ccc;
}
#exploreViz g.lines path.dashed {
	stroke-dasharray: 5,5;
}
#exploreViz .xAxis > path, #exploreViz .xAxis .tick line {
	fill: none;
	stroke: #b0b3b5;
}
#exploreViz .yAxis > path {
	fill: none;
}
#exploreViz .axis text {
	font-size: 11px;
	fill: #666666;
	font-weight: bold;
}
#exploreViz .fillDot {
	pointer-events: none;
}
#exploreViz .exploreTTContainer {
	position: absolute;
	display: none;
	opacity: 0;
}
#exploreViz .exploreTTContent {
	background: #616266;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
}
#exploreViz .exploreTTContent .ttTitle {
	font-size: 15px;
	margin-bottom: 0.5em;
	font-weight: bold;
}
#exploreViz .exploreTTContent .ttLabel {
	color: #c2c2c2;
	font-size: 11px;
	white-space: nowrap;
	font-weight: bold;
	text-transform: uppercase;
}
#exploreViz .exploreTTContent .ttValue {
	margin-bottom: 0.5em;
	font-size: 13px;
	font-weight: bold;
}
#exploreViz .exploreTTContainer .exploreTTArrow {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #616266;
	position: absolute;
}
/*
Time controller
*/
#timeControl {
	padding: 0 65px;
}
#timeControl svg {
	cursor: ew-resize;
}
#timeControl svg path {
	fill: none;
	stroke: #ccc ;
}
#timeControl svg path.dashed {
	stroke-dasharray: 5,5;
}
#timeControl svg text {
	font-weight: bold;
	font-size: 12px;
	fill: #808284;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*
compare
*/
#compareViz {
	margin: 0 65px;
	margin-top: 20px;
	position: relative;;
}
#compareViz path {
	fill: none;
	stroke: #ccc;
}
#compareViz path.dashed {
	stroke-dasharray: 5,5;
}


#compareViz line.yScaleGuide {
	stroke: #b0b3b5;
}
#compareViz line.yScaleGuide.faint {
	stroke: #e6e6e6;
	stroke-dasharray: 5,3;
}
#compareViz text.yScaleMax {
	text-anchor: end;
	font-size: 11px;
	fill: #8b8b8b;
	font-weight: bold;
	pointer-events: none;
}
#compareViz .xAxis line {
	stroke: #b0b3b5;
}
#compareViz line.focus {
	stroke: #818181;
	stroke-dasharray:5,5;
}
#compareViz .compareTooltips .compareTooltip {
	position: absolute;
}
#compareViz .compareTooltips .compareTooltip .content {
	background-color: #ebebeb;
	padding: 15px 15px 5px;
	border-radius: 5px;
}

#compareViz .compareTooltips .compareTooltip .ttLabel {
	color: #c2c2c2;
	font-size: 11px;
	white-space: nowrap;
	font-weight: bold;
	text-transform: uppercase;
}
#compareViz .compareTooltips .compareTooltip .ttValue {
	margin-bottom: 0.5em;
	font-size: 13px;
	font-weight: bold;
}
#compareViz .compareTooltip.active .content{
	background-color: #616266;
}
#compareViz .compareTooltip.active .ttValue {
	color: white;
}
#compareViz .compareTooltip .arrow {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	position: absolute;
	top: -webkit-calc(50% - 4px);
	top: calc(50% - 4px);
}
#compareViz .compareTooltip .leftArrow {
	border-right: 8px solid #ebebeb; 
	left: -8px;
}
#compareViz .compareTooltip .rightArrow {
	border-left: 8px solid #ebebeb;
	right: -8px;
	display: none;

}
#compareViz .compareTooltip.active .leftArrow {
	border-right-color: #616266;
}
#compareViz .compareTooltip.active .rightArrow {
	border-left-color: #616266;
}
#compareViz .compareTooltip.onLeft .rightArrow {
	display: block;
}
#compareViz .compareTooltip.onLeft .leftArrow {
	display: none;
}
#compareViz .compareTooltip .ttDateLabel, #compareViz .compareTooltip .ttDate {
	display: none;
}
#compareViz .compareTooltip.active .ttDateLabel, #compareViz .compareTooltip.active .ttDate {
	display: block;
}


/***************
  ABOUT
***************/

.aboutModal {
  display: none;
  position: fixed;
  width: 960px;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  z-index: 50;
}
.aboutContent {
  background: white;
  padding: 30px;
  color: #767676;
  width: 70%;
  margin: 200px auto;
}




.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    padding-bottom: 0px;
}

